<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>EASB</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./Styles/style.css">
    </head>
    <body>
        <header>
            <div class="header_container">
                <img class="easbLogo" src="./Styles/Images/BankLogo.png" alt="EASB Logo">
            </div>
            <div class="header_right">
                <form action="/RegisterRedir" method="get">
                    <button type="submit">Register</button>
                </form>
                <form action="/LoginRedir" method="get">
                    <button type="submit">Login</button>
                </form>
                <button class="active">Home</a>
            </div>
        </header>
        <main class="home_main">
            <img class="splashscreen"src="./Styles/Images/image.jpg" alt="EASB Logo">
            <div class = "text-block">
                <h1>Welcome To EASB Online Banking</h1>
                <h3>Please Login Or Register To Utilise Our Transaction Facilities</h3>
            </div>
        </main>


        <footer>
            <div class="footer_container">
                <h1>©2024 Enterprise Automation Services Bank</h1>
            </div>
        </footer>
    </body>
</html>